.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.home-page-1 {
  background: linear-gradient(0deg, rgba(221, 220, 222, 1) 37%, rgba(216, 177, 224, 1) 100%);
  min-height: 90vh;
  margin: auto;
  padding-top: 50vh;
}

.home-page-2 {
  background: rgb(221, 220, 222);
  background: linear-gradient(180deg, rgba(221, 220, 222, 1) 37%, rgba(235, 220, 157, 1) 100%);
  height: 100vh;
  margin: auto;
  padding-top: 50vh;
}

.home-page-3 {
  background: rgb(235, 220, 157);
  background: linear-gradient(180deg, rgba(235, 220, 157, 1) 69%, rgba(119, 150, 145, 1) 100%);
  min-height: 90vh;
  margin: auto;
  padding-top: 50vh;
}

.browse-page-1 {
  min-height: 90vh;
}

.black-text {
  color: #0A0F0D;
}

.footer-link {
  padding-right: 2rem;
}

.full-width {
  min-width: 100%;
}

.key-listing {
  padding: 1rem;
  background: linear-gradient(45deg, rgba(221, 220, 222, 1) 17%, rgba(216, 177, 224, 0.041) 100%);
}